<ion-content>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Nearby Plants</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="save()">Save</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let plant of plants">
      <ion-label>{{plant.label}}</ion-label>
      <ion-toggle slot="end" [name]="plant.label" color="secondary" [(ngModel)]="plant.selected"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>