<ion-label>
  <h3>{{note.date | date:'medium'}}</h3>
  <p>{{note.details}}</p>
  <p *ngIf="note.activityLevel && note.activityLevel != 'N/A'">{{'INSPECTIONS.activity-level' | translate}}:
    {{'INSPECTIONS.activity-level-values.' + note.activityLevel | translate}}</p>
  <p *ngIf="note.queenSpotted">{{'INSPECTIONS.queen-spotted' | translate}}</p>
  <p *ngIf="note.brood">{{'INSPECTIONS.brood-spotted' | translate}}</p>
  <p *ngIf="note.larva">{{'INSPECTIONS.larva-spotted' | translate}}</p>
  <p *ngIf="note.cappedHoney">{{'INSPECTIONS.capped-honey-spotted' | translate}}</p>
  <p *ngIf="note.eggs">{{'INSPECTIONS.eggs-spotted' | translate}}</p>
  <p *ngIf="note.queenCells">{{'INSPECTIONS.queen-cells-spotted' | translate}}</p>
  <p *ngIf="note.swarmCells">{{'INSPECTIONS.swarm-cells-spotted' | translate}}</p>
  <p *ngIf="note.supersedureCells">{{'INSPECTIONS.supersedure-cells-spotted' | translate}}</p>
  <p *ngIf="note.orientationFlights">{{'INSPECTIONS.orientation-flights' | translate}}</p>
  <p *ngIf="note.pests && note.pests.length > 0">{{'INSPECTIONS.pests' | translate}}: {{note.pests | join}}</p>
  <p>
    <ion-img *ngIf="note.photo" src="{{ note.photo.base64 ? note.photo.base64 : note.photo.webviewPath }}"></ion-img>
  </p>
</ion-label>