<ion-content>
  <ion-card button *ngFor="let hive of hives$ | async" (click)="navigateToHive(hive)">
    <ng-container *ngIf="hive.photo">
      <ion-img src="{{ hive.photo.base64 ? hive.photo.base64 : hive.photo.webviewPath }}"></ion-img>
    </ng-container>
    <ion-card-header>
      <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
      <ion-card-title>{{hive.label}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        {{'HIVE-LIST.last-inspected' | translate}}: {{hive | lastInspected | date}}
      </p>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addHive()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>