<ion-header translucent>
  <ion-toolbar>
    <ion-title>Add New Hive</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="hive">
    <ion-item>
      <ion-label position="stacked">Hive Label</ion-label>
      <ion-input #labelField formControlName="label"></ion-input>
    </ion-item>    
  </form>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addHive()" [disabled]="hive.invalid">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
