<ion-content>
  <ion-item>
    <ion-label>{{'OPTIONS.logLevel' | translate}}</ion-label>
    <ion-select multiple="false" [(ngModel)]="logLevelFilter">
      <ion-select-option [value]="logLevelAll">{{'OPTIONS.logLevelOptions.all' | translate}}</ion-select-option>
      <ion-select-option [value]="logLevelDebug">{{'OPTIONS.logLevelOptions.debug' | translate}}</ion-select-option>
      <ion-select-option [value]="logLevelInfo">{{'OPTIONS.logLevelOptions.info' | translate}}</ion-select-option>
      <ion-select-option [value]="logLevelWarn">{{'OPTIONS.logLevelOptions.warn' | translate}}</ion-select-option>
      <ion-select-option [value]="logLevelError">{{'OPTIONS.logLevelOptions.error' | translate}}</ion-select-option>
      <ion-select-option [value]="logLevelFatal">{{'OPTIONS.logLevelOptions.fatal' | translate}}</ion-select-option>

    </ion-select>
  </ion-item>

  <ion-list>
    <ng-container *ngIf="logs$ | async; let logs">
      <ng-container *ngFor="let log of logs | logFilter:logLevelFilter">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-label text-wrap>
                <h3>{{log.date | date:'long'}} {{log.level}}</h3>
                <p>
                  {{log.classPath}}
                </p>
              </ion-label>
              <ion-item *ngFor="let logData of log.data" class="wrapped">
                {{logData}}
              </ion-item>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-list>
</ion-content>