<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{'ADD-BOX.header' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">{{'MAIN.cancel' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">{{'ADD-BOX.label' | translate}}</ion-label>
    <ion-input #labelField [placeholder]="'ADD-BOX.label-placeholder'| translate" (ionChange)="labelChange($event.target.value)"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">{{'ADD-BOX.type' | translate}}</ion-label>
    <ion-select [placeholder]="'ADD-BOX.type-placeholder'| translate" (ionChange)="typeChange($event.target.value)">
      <ion-select-option value="Hive Body">{{'BOX-PROPERTY-VALUES.type.Hive Body' | translate}}</ion-select-option>
      <ion-select-option value="Super">{{'BOX-PROPERTY-VALUES.type.Super' | translate}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">{{'ADD-BOX.frames' | translate}}</ion-label>
    <ion-input type="number" [placeholder]="'ADD-BOX.frames-placeholder'| translate" (ionChange)="numChange($event.target.value)">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">{{'ADD-BOX.date-added' | translate}}</ion-label>
    <ion-datetime display-format="MMM DD, YYYY HH:mm" picker-format="MMM DD, YYYY HH:mm" [(ngModel)]="box.dateAdded" (ionChange)="dateChange($event.target.value)">
    </ion-datetime>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addBox()" [disabled]="isInvalid()">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>