<ion-list>
  <ion-list-header>Note Options</ion-list-header>
  <ion-item button (click)="editNote()">
    <ion-icon slot="end" name="create-outline"></ion-icon>
    Edit
  </ion-item>
  <ion-item button (click)="confirmDelete()">
    <ion-icon slot="end" name="trash-outline"></ion-icon>
    Delete
  </ion-item>
  <ion-item button *ngIf="note.photo">
    <ion-icon slot="end" name="share-social-outline"></ion-icon>
    Share
  </ion-item>
  <ion-item lines="none" detail="false" button (click)="dismiss()">Cancel</ion-item>
</ion-list>